<!DOCTYPE html>
<html>
    <head>
        Welcome to Pokedex
    </head>
    <body>
        <h1>Pokemon super search engine</h1>
        <p>1. Display Pokemon with their types and statistics</p>
        <p>2. Display the first Pokemon of a Type of your choice</p>
        <p>3. Display all Pokemons with Total Base stat of your choice</p>
        <p>4. Display all Pokemons with a minimum set of stats</p>
        <p>5. Display all lengendary Pokemons of specific Type1 and Type2</p>
        <p>6. Insert a new found Pokemon!"</p>
        <p>7. Display the count of Type 1 Pokemon types by minimum HP"</p>
        <p>0. Quit</p>
        <form action = "/option" method = 'POST'>
        <label for = 'option'>
            <input type = 'number' id = 'option' name = 'option' required min = 0 max = 7>
            <input type = 'submit' value = 'Submit'>
        </label>
        </form>
    </body>
</html>
