<!DOCTYPE html>
<html>
    <body>
        <form action = '/option5' method = 'POST'>
            <label for="t1">
                <p>Enter type 1 of Pokemon to be displayed:</p>
                <input type = "text" name = 't1' id = 't1'>
            </label>
            <label for="t2">
                <p>Enter type 2 of Pokemon to be displayed:</p>
                <input type = "text" name = 't2' id = 't2'>
            </label>
            <br>
            <input type="submit" value="Submit">
        </form>
        <table>
            {% if exist == 2 %}
                {% for h in header %}
                    <th>{{ h }}</th>
                {% endfor %}

                {% for pokemon in result %}
                <tr>
                    {% for stat in pokemon %}
                        <td>{{ stat }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% elif exist == 1 %}
                <p>No such Pokemon!</p>
            {% endif %}
        </table>
    </body>
</html>