<!DOCTYPE html>
<html>
    <body>
        <p>Enter number of Pokemons to be displayed:</p>
        <form action = '/option1' method = 'POST'>
            <label for="num">
                <input type = "number" name = 'num' id = 'num'>
                <input type = 'submit' value = 'Submit'>
            </label>
        </form>
        <table>
            {% for h in header %}
                <th>{{ h }}</th>
            {% endfor %}

            {% for pokemon in cursor %}
            <tr>
                {% for stat in pokemon %}
                <td>{{ stat }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>